# Build and tool output
.cache
dist
src/generated/prisma

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local environment
.env

# Storage runtime data
/services/storage/uploads/
